article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@greyCircle {
  border-radius: 50%;
  background-color: #696969;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  text-align: center;
  color: #383838;
  padding-top: 35px;
}

body {
  font-family: 'Quicksand', sans serif;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 30px;
}

a {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif;
}

ul.nav {
  list-style: none;
  position: fixed;
  text-align: center;
  background: #0D0B0C;
  border-bottom: solid 1px #6D7578;
  left: 0;
  width: 100%;
  margin-top: 0;
  z-index: 9999;
}

ul.nav li {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  margin: 0 10px;
}

ul.nav li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

ul.nav li a:hover {
  text-decoration: underline;
  color: #DAA520;
}

#intro {
  background-image: url("images/website.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 960px;
  text-align: center;
  padding-top: 100px;
}

.text h1 {
  letter-spacing: 8px;
  text-align: center;
  margin: 0 0 20px 0;
  padding-top: 150px;
  font-size: 40px;
}

.text h2 {
  letter-spacing: 4px;
  text-align: center;
  bottom: 150px;
  font-size: 28px;
}

#story {
  width: auto;
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  display: block;
  background-color: #F5F5F5;
}

#bride {
  width: 50%;
  float: left;
  text-align: right;
  height: auto;
}

#bride .description {
  padding: 80px 20px 35px 80px;
}

#bride .description h3 {
  color: #6D7578;
  text-transform: uppercase;
  padding: 0 0 10px 0;
}

#bride .description h4 {
  color: #6D7578;
  padding: 0 0 20px 0;
  font-size: 25px;
}

#bride .description p {
  color: #6D7578;
  padding: 0 0 15px 0;
}

#groom {
  width: 50%;
  float: left;
  text-align: left;
  height: auto;
}

#groom .description {
  padding: 80px 80px 35px 20px;
}

#groom .description h3 {
  font-weight: bold;
  color: #6D7578;
  text-transform: uppercase;
  padding: 0 0 10px 0;
}

#groom .description h4 {
  color: #6D7578;
  padding: 0 0 20px 0;
  font-size: 25px;
}

#couple {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 10px;
}

#couple .heart {
  font-size: 50px;
  text-align: center;
  color: #a51919;
  padding: 0;
  margin: 0;
}

#couple h3 {
  font-weight: bold;
  color: #6D7578;
  text-transform: uppercase;
  padding: 0 0 10px 0;
}

#couple h4 {
  color: #6D7578;
  padding: 0 0 20px 0;
  font-size: 22px;
}

#couple p {
  color: #6D7578;
  padding: 0 0 15px 0;
  text-align: left;
  font-size: 18px;
}

#wedding {
  background-color: #0D0B0C;
  padding: 0px 15px 15px 15px;
  border-top: 3px solid #95828b;
  border-bottom: 3px solid #95828b;
}

#wedding .box {
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px 0 80px 0;
}

#wedding .box h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 35px 0 35px 0;
}

#wedding .minister {
  text-align: center;
  margin: 0 auto;
}

#wedding .minister .ministerPicture img {
  height: 200px;
  width: 195px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#wedding .minister p {
  color: white;
  padding: 0 250px 0 250px;
  text-align: left;
  font-size: 18px;
}

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0;
}

.bridesmaid, .groomsmen {
  width: 20%;
  margin: 0 auto;
  float: left;
}

.bridesmaid .main, .groomsmen .main {
  background-color: #C0C0C0;
  border-radius: 3px;
  height: 740px;
}

.bridesmaid .content, .groomsmen .content {
  padding: 5px 20px;
}

.bridesmaid .content .picture, .groomsmen .content .picture {
  height: 200px;
  width: 195px;
  overflow: hidden;
  border-radius: 50%;
}

.bridesmaid .content .picture img, .groomsmen .content .picture img {
  display: block;
  width: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.bridesmaid .content .img2 img, .groomsmen .content .img2 img {
  top: 24px;
  left: 1px;
  height: 100%;
}

.bridesmaid .content .img3 img, .groomsmen .content .img3 img {
  top: 28px;
  left: 2px;
  height: 100%;
}

.bridesmaid .content .img5 img, .groomsmen .content .img5 img {
  top: 28px;
  left: 2px;
  height: 100%;
}

.bridesmaid .content h4, .groomsmen .content h4 {
  text-align: center;
  padding: 0 0 10px 0;
  text-transform: uppercase;
}

.bridesmaid .content p, .groomsmen .content p {
  padding: 0 0 15px 4px;
  text-align: left;
  color: white;
  font-size: 18px;
}

#location {
  background-color: #C0C0C0;
}

#location .address {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: black;
  padding-top: 75px;
}

#location .address .sign {
  border-radius: 50%;
  background-color: #696969;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  text-align: center;
  color: #383838;
  padding-top: 28px;
  padding-left: 6px;
}

#location .address p {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

#location .wrapper {
  width: 100%;
}

.ceremony, .cocktails, .dinner, .oneDollar, .twoDollar, .threeDollar {
  width: 33.3333%;
  height: auto;
  float: left;
  color: black;
  padding: 80px 20px 50px 20px;
  background-color: #C0C0C0;
}

.ceremony img, .cocktails img, .dinner img, .oneDollar img, .twoDollar img, .threeDollar img {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.ceremony h4, .cocktails h4, .dinner h4, .oneDollar h4, .twoDollar h4, .threeDollar h4 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: black;
}

.ceremony h5, .cocktails h5, .dinner h5, .oneDollar h5, .twoDollar h5, .threeDollar h5 {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  color: black;
}

.ceremony p, .cocktails p, .dinner p, .oneDollar p, .twoDollar p, .threeDollar p {
  text-align: left;
  font-size: 16px;
}

.ceremony a, .cocktails a, .dinner a, .oneDollar a, .twoDollar a, .threeDollar a {
  color: #95828b;
  text-decoration: none;
}

.oneDollar .sign, .twoDollar .sign, .threeDollar .sign {
  border-radius: 50%;
  background-color: #696969;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  text-align: center;
  color: #383838;
  padding-top: 35px;
}

.oneDollar, .twoDollar, .threeDollar {
  border-bottom: 1px solid #363636;
  padding-top: 10px;
}

#photo .container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 80px;
  background-color: #F5F5F5;
}

#photo .container h3 {
  text-align: center;
  color: #6D7578;
}

#photo .container .col {
  width: 20.5%;
  margin-right: 4.5%;
  float: left;
  margin-bottom: 5%;
  overflow: hidden;
  height: 275px;
  background: white;
  border: 15px solid white;
  border-bottom: 40px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

#photo .container .photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#photo .container .image1 {
  background-image: url("images/1.jpg");
  background-position: 85% 20%;
}

#photo .container .image2 {
  background-image: url("images/2.jpg");
  background-position: 30% 20%;
}

#photo .container .image3 {
  background-image: url("images/3.png");
  background-position: 55% 20%;
}

#photo .container .image4 {
  background-image: url("images/4.jpg");
  background-position: 30% 20%;
}

#photo .container .image5 {
  background-image: url("images/5.jpg");
  background-position: 30% 85%;
}

#photo .container .image6 {
  background-image: url("images/6.jpg");
  background-position: 30% 1%;
}

#photo .container .image7 {
  background-image: url("images/7.jpg");
  background-position: 30% 5%;
}

#photo .container .image8 {
  background-image: url("images/8.jpg");
  background-position: 50% 1%;
}

#photo .container .image9 {
  background-image: url("images/9.jpg");
  background-position: 1% 75%;
}

#photo .container .image10 {
  background-image: url("images/10.jpg");
  background-position: 45% 1%;
}

#photo .container .image11 {
  background-image: url("images/11.jpg");
  background-position: 90% 1%;
}

#photo .container .image12 {
  background-image: url("images/12.jpg");
  background-position: 60% 1%;
}

#photo .container .image13 {
  background-image: url("images/13.jpg");
  background-position: 5% 1%;
}

#photo .container .image14 {
  background-image: url("images/14-2.jpg");
  background-position: 5% 1%;
}

#photo .container .image15 {
  background-image: url("images/15.jpg");
  background-position: 65% 1%;
}

#photo .container .image16 {
  background-image: url("images/16.jpg");
  background-position: 1% 100%;
}

#photo .container .photo:nth-child(3n) {
  -webkit-transform: rotate(2deg);
}

#photo .container .photo:nth-child(2n) {
  -webkit-transform: rotate(-1deg);
}

#photo .container .col img:nth-child(4n) {
  margin-right: 0;
}

#registry .wrapper {
  padding: 85px 0 25px 0;
  background: #0D0B0C;
  height: 440px;
}

#registry .wrapper .registry {
  text-align: center;
  margin: 0 auto;
  min-width: 980px;
  width: 600px;
}

#registry .wrapper .registry .sign {
  border-radius: 50%;
  background-color: #696969;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  text-align: center;
  color: #383838;
  padding-top: 30px;
}

#registry .wrapper .registry p {
  color: #F5F5F5;
  font-size: 17px;
  padding-bottom: 10px;
}

#registry .wrapper .registry h3 {
  color: #F5F5F5;
  padding-bottom: 15px;
}

#registry .wrapper .registry a {
  color: #95828b;
  text-decoration: none;
}

#rsvp .wrapper {
  padding: 85px 0 25px 0;
  background: #C0C0C0;
  height: 440px;
}

#rsvp .wrapper .rsvp {
  text-align: center;
  margin: 0 auto;
  min-width: 980px;
  width: 600px;
}

#rsvp .wrapper .rsvp .sign {
  border-radius: 50%;
  background-color: #696969;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  text-align: center;
  color: #383838;
  padding-top: 32px;
}

#rsvp .wrapper .rsvp p {
  color: black;
  font-size: 17px;
  padding-bottom: 10px;
}

#rsvp .wrapper .rsvp h3 {
  color: black;
  padding-bottom: 15px;
}

#rsvp .wrapper .rsvp a {
  color: #95828b;
  text-decoration: none;
}

#footer {
  background-image: url("images/CityLights.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
  text-align: center;
  position: relative;
}

#footer p {
  position: absolute;
  bottom: 0;
  left: 555px;
  color: #F5F5F5;
  font-size: 16px;
}

#footer a {
  color: #95828b;
  text-decoration: none;
}
